body {
    background-color: yellow;
}
h1 {
    position: absolute;
    top: 20%;
    left: 45%;
    font-family: 'Franklin Gothic Medium';
}
img {
    position: absolute;
    top: 30%;
    left: 36%;
}